doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="css/style.min.css")
    body
        include html/header
        main.page
            span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, voluptates!
        include html/footer
        img.img(src="@img/cover.jpg" alt="123")
        script(src="js/app.min.js")   